.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
    margin-top: 0!important;
    margin-bottom: 0!important;
}
.box-cnn {position: absolute;
   margin-top: 189px;	
    margin-left: 56px;
    background-color: white;
    width: 250px;
    height: 55px;
}
.box-content {
    padding-top: 11px;
    padding-left: 5px;
}
.playIcon img {
    padding-left: 16px;
    padding-top: 16px;
}
.playIcon {
    padding-left: 0px;
    background-color: #4d79ff;
    border-radius: 50px;
    width: 44px;
    height: 44px;	
    margin-left: 200px;
}
.title{
	margin-top: 48px;	
}
.content-all {
    padding-left: 56px !important;
}
.content-p {
    padding-top: 24px;
    padding-bottom: 24px;
}
.state3 {
    color: white;
}
body{font-family: 'Roboto';}

.client-list{
height: 135px;
padding-top: 20px;
padding-bottom: 24px;
color: white;
background-color: #262626;
font-weight: bold;
text-align: center;}

.state3 .half-image img{
	width: 100%;
	height: 288px;
}

.state4 .half-image img{
	width: 100%;
	height: 288px;
}
.col-sm-6{padding-left: 0;
padding-right: 0;}

.right-header {
    float: right;
    padding-top: 15px;
}
.task{margin-left: 36px;
margin-right: 24px;}
.client-list img {
    padding-left: 20px;
}
.header	{
	padding-right: 0;
	height: 68px;
    border-bottom: 1px solid rgb(213, 217, 225);}

.left-header {
    float: left;
}

.logo{padding-top: 20px;
float: left;}

.navbar-item{
	margin-right: 48px;
    padding-bottom: 24px;
    font-weight: bold;
    color: grey;
}

.nav-bar{padding-top: 24px;
    padding-left: 60px;
	}

a.navbar-item:hover {
	text-decoration: none;
    border-bottom: 3px solid black;
    color: black;		

}
.first{background-image: url(assets/image1.jpeg);
    background-size: 717px 325px;
    height: 288px;
}
.menu-icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}
.mobile-menu {
    padding-left: 14px;
    height: 67px;
    width: 66px;
    float: right;
    background-color: black;
    padding-top: 12px;	
}
@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
}
.first-bg {
    background-image: url(assets/image1.jpeg);
    background-size: 100% 327px;
    height: 288px;
}
.blue-circle {
    position: absolute;
    right: 51px;
    top: 334px;
}
.cnn-mobile {
     font-weight: bold;
    padding-top: 28px;
    padding-left: 50px;
    height: 70px;
    background-color: #e6e6e6;	
}
.content-all-mobile{
	padding-top: 50px; 
	padding-left: 50px;
	padding-bottom: 20px;}
.half-image img{width: 100%;
	height: 288px;}
	.footer{height: 140px;
    background-color: #e6e6e6;}
    .inline{display: inline;}
    .footer-row {
    padding-top: 50px;
    padding-left: 50px;
}
.content-p-mobile{
	padding-top: 24px;
	padding-bottom: 24px;
}